.home_div,
#mapcontainer {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 650px;
}
#smap {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 650px;
}
.map-title {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50px;
  background-color: rgba(27, 25, 27, 0.884);
}
h3 {
  position: absolute;
  left: 10px;
  z-index: 2;
  color: white;
}
.input-card {
  width: 150px;
  top: 10px;
  left: 10px;
  bottom: auto;
}
